h1 {
    margin: 0;
    margin-bottom: 10px;
    padding: .2%;
    width: 100%;
    height: 10%;
    font-size: large;
    text-align: justify;
    color: #27221f;
    font-size: 32px;
    font-weight: 550;
    font-style: normal;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 img {
    margin-left: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
}
h1:hover {
    background-color: #27221f;
    color: #E5E4E2;
    transform: scale(1.07) translate(2px, 2px);
}

body{
    color: #27221f;
    background-color:  #E5E4E2 ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
}

.pannelButton {
    color: #E5E4E2;
    background-color: #27221f;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: normal;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;

}

.pannelButton:hover {
    background-color: #E5E4E2;
    color: #27221f;
    transform: scale(1.05) translate(2px, 2px);
}

@keyframes flash {
    0% { 
        background-color: #E5E4E2;
        border-color:#27221f
    }
    50% {
        background-color: #27221f;
        border-color:#E5E4E2 }
    100% {
        background-color: #E5E4E2;
        border-color:#27221f
    }
}


    

#countryInput {
    background-color: #E5E4E2;
    border: 2px solid #27221f;
    font-family: "Arial Narrow", Helvetica, sans-serif;
    font-size: 12pt;
    color: #27221f;
    caret-color: #27221f;
    padding: 5px;
    outline: none;
}

#countryInput:not(:focus) {
    animation: flash 2.5s infinite; /* Apply flash animation when not focused */
}




#wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items:start;
    height: 100%;
    overflow: auto;
}

.pannel {
    width: 12.5%;
    outline: 2px solid  #E5E4E2;
    outline-offset: -4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    min-height: 100px;
    background-color: #27221f;
    color: #E5E4E2;

}
#mapContainer {
    margin: auto;
    margin-top: 0;
    width: 70%;
}

#map {
    margin: 0;
    width: 100%; 
    border: 3px solid #27221f;
    border-radius: 2.5%; 
    padding: 10px; 
    height: 500px; 
    background-image: radial-gradient(circle, #002D62, #0066b2, #6699CC);

}

#buttonContainer {
    margin: auto; 
    margin-top: 30px; 
    margin-bottom: 10px; 
    width: 50%; 
    text-align: center;
    color: #E5E4E2;
}

#list_count {
    margin: 0; 
    padding: 10px;
    text-align: justify;
    width: 100%;
}

.sticker {
    color: #E5E4E2;
    background-color: rgba(39, 34, 31, 0.8);
    font-family: "Arial Narrow", Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18pt;
    border: none;
    box-shadow: none;
    cursor: none;
    position: relative;
    padding: none;
}

.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none;
}

a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
  color: #E5E4E2 !important;
  background-color: #27221f !important;
}


a.leaflet-control-zoom-in:hover,
a.leaflet-control-zoom-out:hover
 {
    color: #27221f !important;
    background-color: #E5E4E2 !important;
}

.introduction {
    font-size: 18pt;
    padding: 1%;
    padding-top: 0;
    text-align: justify;
    margin: auto;
    margin-top: 0;
    width: 70%;
}

.dark-mode {
    background-color: #222222;
    color: #E5E4E2;
  }

#darkmodeButton {
    font-size: 18pt;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10pt;

  }

.hover-container {
    position: relative;
    display: inline-block;
}

.options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
}

.options a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.options a:hover {
    background-color: #f1f1f1;
}

.hover-container:hover .options {
    display: block;
}
